#change-div{
    margin-left: 15em;
    margin-right: 5em;;
}

#change-div input{
	font-family: -webkit-body;
    width: 20em;
    height: 3em;
    font-size: 12px;
}

.wrapper1, .wrapper2 {
            display: grid;
            grid-auto-rows: minmax(50px, auto);
            grid-auto-columns: minmax(50px,200px);
}
.input-id, .input-pw{
            grid-column: 1;
            grid-row: 1;
            padding-top:18px;
            padding-left:10px;
            border-top: 2px solid gray;
            border-bottom: 1px solid #ced4da;
}
.change-id, .current-pw {
            grid-column: 2/4;
            grid-row: 1;
            padding:10px;
            border-top: 2px solid gray;
            border-bottom: 1px solid #ced4da;
}
.input-name, .input-newpw {
            grid-column: 1;
            grid-row: 2;
            padding-top:18px;
            padding-left:10px;
            border-bottom: 1px solid #ced4da;
}
.change-name, .new-pw {
            grid-column: 2/4;
            grid-row: 2;
            padding:10px;
            border-bottom: 1px solid #ced4da;
}
.input-pno, .input-pwcheck{
            grid-column: 1;
            grid-row: 3;
            padding-top:18px;
            padding-left:10px;
            border-bottom: 1px solid #ced4da;
}
.change-pno, .pw-check{
            grid-column: 2/4;
            grid-row: 3;
            padding:10px;
            border-bottom: 1px solid #ced4da;
}
.input-location {
            grid-column: 1;
            grid-row: 4;
            padding-top:25px;
            padding-left:10px;
            border-bottom: 1px solid #ced4da;
}
.change-location {
            grid-column: 2/4;
            grid-row: 4;
            padding:10px;
            border-bottom: 1px solid #ced4da;
}
.input-elements{
            grid-column: 1;
            grid-row: 1/5;
            background-color: #f8f9fa;
}
.input-elements2{
            grid-column: 1;
            grid-row: 1/4;
            background-color: #f8f9fa;
}
.button-input{
            width:600px;
            margin-top: 15px;
            margin-bottom: 30px;
            text-align: center;
}
.button-input .change-info-buttons{
            color: white;
            background-color: tomato;
            font-size: 12px;
            font-weight: 600;
            padding: 10px 20px;
            margin: 1px;
            border: 0px;
}

.change-location #change-location-button{
            font-size: 12px;
            font-weight: 600;
            padding: 7px 20px 7px 20px;
            margin: 5px;
            border: 0px;
}
#change-div h3{
            font-weight: bold;
            margin-bottom: 20px;
            font-size:18px;
}
