.contents {
  margin-top: 150px;
}
.sub_content {
  width: 1200px;
  margin: 0 auto;
}

#map {
  width: 100%;
  display: none;
}


.country-title, .flavor_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}

#country, .flavor {
  margin: 1.5rem 0;
}

.country-list, .flavor-list, .recommend-list ul {
  width: 100%;
}

.country-list a, .flavor-list a, .recommend-list a {
	color: #414141;
}

.country-list li, .flavor-list li {
  display: inline-block;
  margin: 1rem 0 0 0;
  list-style: none;
  font-size: 12px;
  width: 19%;
}

.recommend-list div {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #dbdbdb;
	height: 51px;
	padding: 9px 0;
	line-height: 31px;
}
.recommend-list ul {
  font-size: 12px;
  padding: 0 0 0 10px;
}

.recommend-list ul li {
	display: inline-block;
    margin: 0 40px 0 0;
}


.recommend-list {
  margin-top: 4rem;
}

.recommend-list > span {
	font-weight: bold;
	margin: 0 0 10px 0;
	display: block;
}

label {
  cursor: pointer;
}

.product-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 32px;
	grid-row-gap: 32px;
	margin-top: 20px;
}

.product-list .product-card {
  border-radius: 0;
  display: inline-block;
  /* margin-right: 10px; */
}

.card-body {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.card-title, .card-text {
  margin-bottom: 1rem;
}

.card-title {
	color: #333;
	word-break: keep-all;
}

.card-text {
  color: #adb5bd;
  font-size: 0.5rem;;
}

.on {
	font-weight: bold;
}

.card-head {
	position: relative;
}

#overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(33, 37, 41, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: .5s ease;
}

#overlay div img:nth-child(1){
	margin-right: 32px;
}

.card-head:hover #overlay {
	opacity: 1;
}

