.contents {
  margin-top: 150px;
}
.sub_content {
  width: 1200px;
  margin: 0 auto;
}

#map {
  width: 100%;
  display: none;
}


.country-title, .flavor_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}

#country, .flavor {
  margin: 1.5rem 0;
}

.country-list, .flavor-list, .recommend-list ul {
  width: 100%;
}

.country-list a, .recommend-list a {
	color: #414141;
}

.country-list li, .flavor-list li {
  display: inline-block;
  margin: 1rem 0 0 0;
  list-style: none;
  font-size: 12px;
  width: 19%;
}

.recommend-list div {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #dbdbdb;
	height: 51px;
	padding: 9px 0;
	line-height: 31px;
}
.recommend-list ul {
  font-size: 12px;
  padding: 0 0 0 10px;
}

.recommend-list ul li {
	display: inline-block;
    margin: 0 40px 0 0;
}

input[type='radio'] {
  display: none;
}

.recommend-list {
  margin-top: 4rem;
}

.recommend-list > span {
	font-weight: bold;
	margin: 0 0 10px 0;
	display: block;
}

label {
  cursor: pointer;
}

.product-list .card {
  display: inline-block;
  width: calc(25% - 24px);
  margin-right: 10px;
}

.card-body {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title, .card-text {
  margin-bottom: 1rem;
}

.card-text {
  color: #adb5bd;
  font-size: 0.5rem;;
}

.on {
	font-weight: bold;
}


