
        .pick_list{
            margin-top: 4em;
            margin-left: 10em;
            margin-right: 5em;
        }

        .pick_list > span{
            font-size: 18px;
            font-weight: 700;
        }

        .table .checkbox{
            width: 20px;
            vertical-align: middle;
        }

        .table .item_wrap{
            width: 500px;
        }

        .table .price{
            width: 150px;
        }

        .table .total{
            width: 150px;
        }

        /* 비율 끝 */

        table{
            border-collapse: collapse;
            margin-top: 2em;
            text-align: center;  
        }

        tr{
            border-bottom: 1px solid #dcdcdc;
        }

        .table .attribute th{
            background-color: #FAFAFA;
            padding: 1em 0;
            font-weight: 600;
        }

        .items td{
            border-right: 1px solid #FAFAFA;
        }

        .item_wrap{
            
            padding: 10px;
        }

        .item_wrap .item_title{
            line-height: 7em;
            float:left;
            margin-left: 3em;
        }

        .item_wrap .item_title span{
            vertical-align: middle;
            text-align: left;
        }

        .item_wrap img{
            float: left;
            width: 7em;
        }

        .items .price{
            vertical-align: middle;
        }

        .items .act{
            border-right: 1px solid white;
            padding: 10px;
            vertical-align: middle;
        }

        .items .act button{
            font-size: 12px;
            font-weight: 600;
            padding: 7px 20px 7px 20px;
            margin: 5px;
            border: 0px;
            border-radius: 2px;
        }

        .items .act .cart{
            color: white;
            background-color: #EF5350;
        }

        .bottom_button{
            margin-top: 20px;
            margin-left: 10px;
        }

        .bottom_button button{
            font-size: 12px;
            font-weight: 600;
            padding: 5px 10px 5px 10px;
            margin: 1px;
            background-color: #FFFFFF;
            border: 1px solid black;
        }

        .modal-body{
            display: flex;
            flex-direction: column;
        }
        
        .btn-group{
            margin-bottom: 2em;
        }
        
        .modal-body .custom-select{
            margin-bottom: 2em;
        }

        #cart .modal-title, .modal-title{
            font-size: 17px;
            font-weight: 700;
        }
        
        .modal-body .cart_img, .modal-body .erase_img{
            text-align: center;
        }
        
        .cart_img img, .erase_img img{
            width: 80px;
            margin: 20px;
        }
        
        .modal-body .message1{
            text-align: center;
            margin: 5px;
            font-weight: 600;
            font-size: 15px;
        }
        
        .modal-body .message2{
            text-align: center;
            margin: 5px;
            margin-bottom: 20px;
        }
        
        #cart .modal-body, #erase .modal-body{
            text-align: center;
        }
        
        .button-group .cancel,  .button-group .erase{
            border: 1px solid #DCDCDC;
            background-color: white;
            padding: 7px 20px 7px 20px;
            font-size: 14px;
            font-weight: 600;
        }
        
        .button-group .gocart{
            border: 1px solid #EB5050;
            background-color: #EB5050;
            padding: 7px 20px 7px 20px;
            font-size: 14px;
            font-weight: 600;
            color: white;
        }
        
        


       