.search-content {
  width: 1200px;
  margin: 8rem auto;
}

.result {
  display: flex;
}

.result div:nth-child(1) {
  flex: 1;
  font-size: 1.5rem;
}

.result div:nth-child(2) {
  flex: 2;
  /* padding-left: 1rem:  */
}

.result div:nth-child(2) input {
  width: 300px;
  height: 100%;
}

.result div:nth-child(2) .btn {
  height: 100%;
  vertical-align: baseline;
}

.recommend {
  border-top: 1px solid;
  border-bottom: 1px solid #dee2e6;
  margin-top: 4rem;
}

.recommend ul {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.recommend ul li{
  margin-right: 2rem;
}

.searchitem_list{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 32px;
	grid-row-gap: 32px;
	margin-top: 64px;
}

.card {
  margin-top: 2rem;
  text-decoration-line: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title, .card-text {
  margin-bottom: 1rem;
}

.card-title {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.card-text {
  color: #adb5bd;
  font-size: 13px;
}

a {
	text-decoration-line: none;
}

#input-name {
	border: 0;
}

#input-name:focus {
	outline: none;
}

.input-group {
	display: flex;
	width: 42%;
	border-bottom: 1px black solid;
}

.input-group button{
	border: 0;
	background-color: transparent;
}

.keyword {
	color: #d26f64;
}
